
.icon-users:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-crown-plus:before { content: '\e845'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
